<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <% if(login){%>
        <h1>el usuario conectado es:<%=name%></h1>
        <a href="/logout" class="a-logout"> Logout</a>
        <%} else {%>
            <h1><%=name%></h1>
            <a href="/login" class=a-login> Go login</a>
        <%} %> 
        <% if(rol=='admin'){%>
            
            <h1>soy el admin</h1>
        
        
        
            <%} %> 

</body>
</html>